<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38247773958-juk78vbdf4j0v9toug45gnkqcmvrtsee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38247773958-juk78vbdf4j0v9toug45gnkqcmvrtsee</string>
	<key>API_KEY</key>
	<string>AIzaSyCT3MjYgATny_hXjuS1vV1Tp-GzU4j8C_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>38247773958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sikke</string>
	<key>PROJECT_ID</key>
	<string>sikke-a3112</string>
	<key>STORAGE_BUCKET</key>
	<string>sikke-a3112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38247773958:ios:1dd71788e6785949cd9087</string>
	<key>DATABASE_URL</key>
	<string>https://sikke-a3112.firebaseio.com</string>
</dict>
</plist>